body {
  margin: 0;
}

img {
  width: 100%;
}

#screen {
  aspect-ratio: 16 / 9;

  display: grid;
  grid-template: 50%;
  width: 70%;
}

#game {
  grid-area: 1 /1;
  display: grid;
  grid-template: 100% / 100%;
}

#game_background {
  grid-area: 1 /1;
}

#game_elements {
  grid-area: 1 /1;
  overflow: hidden;
  position: relative;
}

.hidden,
#game_over.hidden,
#game_won.hidden {
  display: none;
}

/* Position elements */

#gamergunk_container {
  position: absolute;

  top: 0;
  left: 0%;
}

#gamergunk_sprite {
  width: 100%;
}

#hairyballs_container {
  position: absolute;

  top: 0vw;
  left: 20%;
}

#hairyballs_sprite {
  width: 100%;
}

#stinkypants_container {
  position: absolute;

  top: 0;
  left: 40%;
}

#stinkypants_sprite {
  width: 100%;
}

#chadsoap_container {
  position: absolute;
  top: 0;
  left: 30%;
}

#chadsoap_sprite {
  width: 100%;
}

/* UI */

#game_ui {
  position: absolute;
  top: 2vw;
  right: 1vw;
  color: white;

  font-size: 2em;
  font-family: sans-serif;

  pointer-events: none;
}

#score_board {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.1em;
}

#gamergunk_count {
  white-space: nowrap;
  text-align: right;
}

#gamergunk_image {
  width: 1em;
}

#life_board {
  margin-block-start: 0.2em;
  display: grid;
  grid-template-columns: 1.2em 1.2em 1.2em;
}

#life_board img {
  width: 100%;
}

.active_heart {
  filter: drop-shadow(0 0 2px yellow);
}

.broken_heart {
  filter: grayscale(75%) blur(0.5px);
}

/* Animations */
