body {
  margin: 0;
}

img {
  width: 100%;
}

#screen {
  aspect-ratio: 16 / 9;

  display: grid;
  grid-template: 100% / 100%;
  width: 100%;
}

#game {
  grid-area: 1 /1;
  display: grid;
  grid-template: 100% / 100%;
}

#game_background {
  grid-area: 1 /1;
}

#game_elements {
  grid-area: 1 /1;
  overflow: hidden;
  position: relative;
}

.hidden,
#game_over.hidden,
#level_complete.hidden {
  display: none;
}

/* Position elements */

#gamergunk_container {
  position: absolute;

  top: 0;
  left: 10vw;
}

#gamergunk_sprite {
  width: 100%;
}

#hairyballs_container {
}

#hairyballs_sprite {
  width: 100%;
}

#stinkypants_container {
}

#stinkypants_sprite {
  width: 100%;
}

#chadsoap_container {
  position: absolute;
  top: 0;
  left: 30vw;
}

#chadsoap_sprite {
  width: 100%;
}

/* UI */

/* Animations */
